
	nav {
		border-top: thin silver solid;
		border-bottom: thin silver solid;
		padding-top:10px;
		padding-bottom: 10px;
	}

	nav .btn{
		Background-color: maroon;
		color: white;
	}

	nav .btn:visited {
		color:gray;
	}

	nav .btn:hover {
		font-weight:bold;
		color:maroon;
		background-color: cornsilk;
	}
	
	nav .btn:active {
		font-weight:bold;
	}
	
	header,footer,section{
		text-align:center;
	}
	
	#articleText {
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:400px;
	}
	
	.theme {
		background-color:Maroon;/*800000*/
		color:White;/*FFFFFF*/
		font-family:impact,copperplate;
	}
	
	.imageborder {/*not working*/
		border-width:10px;
		border-color:Silver;/*C0C0C0*/
	}
	
	/*
	a {
		text-decoration: underline;
	}
	
	a:link {
		color: blue;
	}
	
	a:visited {
		color: maroon;
	}
	
	a:hover {
		font-weight:bold;
		color:maroon;
	}
	
	a:active {
		text-decoration: none;
	}
	*/
	


	/*
					style="display:block;
						margin-left:auto;
						margin-right:auto;
						width:400px;
						height:150px;
						overflow:hidden;"
						*/



